.atorn-nav .navbar ul {
  padding-right: 0;
}

.ms-auto {
  margin-right: auto !important;
  margin-left: unset !important;
}

.search-overlay .search-overlay-close {
  left: 40px;
  right: auto;
}

.me-3 {
  margin-left: 1rem !important;
  margin-right: unset !important;
}

.form-control {
  text-align: right;
}

.buy-now-btn {
  left: 20px;
  right: unset;
  display: inline;
}

.switch-box {
  left: 120px;
  right: auto;
}

.top-header .right-info {
  text-align: left;
}

.top-header .right-info li {
  margin-right: 5px;
}

.top-header .right-info li:last-child {
  margin-right: 15px;
}

.top-header .right-info .heder-btn {
  margin-left: 0;
}

.top-header .left-info li {
  margin-right: 0;
  margin-left: 30px;
}

.atorn-nav .navbar .navbar-brand {
  margin-right: 0;
}

.atorn-nav .navbar .navbar-nav .nav-item {
  margin-left: 15px;
  margin-right: 15px;
}

.atorn-nav .navbar .navbar-nav .nav-item:last-child {
  margin-right: 15px;
}

.atorn-nav .navbar .navbar-nav .nav-item:first-child {
  margin-right: 0;
}

.atorn-nav .navbar .navbar-nav .nav-item:first-child {
  margin-left: 15px;
}

.atorn-nav .navbar .navbar-nav .nav-item:last-child {
  margin-left: 0;
}

.atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu {
  right: 0;
  left: auto;
  text-align: right;
}

.atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
  right: 100%;
  left: auto;
}

.atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li a i {
  left: 15px;
  right: auto;
}

.hero-slider .hero-slider-item::before {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 0, 0, 0)), to(#0f3041));
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), #0f3041);
}

.about-area .about-text ul li {
  margin-bottom: 15px;
  padding-right: 25px;
}

.about-area .about-text ul li i {
  left: auto;
  right: 0;
}

.choose-area .choose-text {
  margin-left: 0;
  margin-right: auto;
}

.choose-area .choose-img {
  margin-right: auto;
  margin-left: 0;
}

.choose-area .choose-img .video-box .video-btn {
  margin-left: auto;
  margin-right: -35px;
}

.choose-card {
  padding-right: 100px;
  padding-left: 0;
}

.choose-card i {
  left: auto;
  right: 0;
}

.testimonials-area .testimonials-slider .testimonials-slider-item .img-text {
  right: auto;
  left: 0;
}

.right-way-area .fun-facts-shape.top {
  bottom: -45px;
  right: 0px;
  left: auto;
}

.blog-card .blog-card-text ul li {
  margin-left: 15px;
  margin-right: 0;
}

.footer-area .footer-socials li {
  margin: 0 0 0 10px;
}

.footer-area .footer-widget p {
  padding-left: 70px;
  padding-right: 0;
}

.footer-area .footer-widget h3::before {
  right: 0;
  left: auto;
}

.footer-area .footer-widget .info-list li {
  padding-right: 50px;
  padding-left: 0;
}

.footer-area .footer-widget .info-list li i {
  right: 0;
  left: auto;
}

.footer-area .footer-widget .footer-text li {
  padding-right: 20px;
  padding-left: 0;
}

.footer-area .footer-widget .footer-text li a i {
  left: auto;
  right: 0;
}

.footer-area .footer-widget .footer-text li a:hover {
  color: #c8242f;
  padding-right: 5px;
  padding-left: 0;
}

.low-card-two .low-shape {
  left: 25px;
  right: auto;
}

.page-banner .page-content ul li {
  margin-left: 15px;
  margin-right: 0;
}

.page-banner .page-content ul li i {
  right: 5px;
  left: 0;
}

.faq-accordion .accordion .accordion-title {
  padding: 12px 20px 10px 40px;
}

.faq-accordion .accordion .accordion-title i {
  left: 20px;
  right: auto;
}

.form-check-input {
  margin-right: -1.25rem;
  margin-left: auto;
}

.coming-soon-area .coming-soon-contant .coming-soon-form .form-btn {
  left: 15%;
  right: auto;
}

.side-bar-box .single-recent-post .recent-post-img {
  float: right;
}

.side-bar-box .single-recent-post .recent-post-content {
  padding-right: 110px;
  padding-left: 0;
}

.side-bar-box .single-recent-post .recent-post-content ul li {
  margin-left: 14px;
  margin-right: 0;
}

.side-bar-box form button {
  left: 0;
  right: auto;
}

.side-bar-box .title::before {
  left: auto;
  right: 0;
}

.side-bar-box ul li a:hover {
  padding-right: 7px;
  padding-left: 0;
}

.attor-details-item .attor-details-left .attor-work .attor-work-right {
  margin-right: 115px;
  margin-left: 0;
}

.attor-details-item .attor-details-left .attor-work .attor-work-left ul li:before {
  left: -88px;
  right: auto;
}

.attor-details-item .attor-prev ul li:last-child {
  float: left;
}

.services-details .article-footer .article-share .social {
  text-align: left;
}

.services-details .article-footer .article-share .social li span {
  margin-left: 3px;
}

.services-details .article-footer .article-share .social li a {
  margin-right: 2px;
  margin-left: 0;
}

.services-details .comments-area .children {
  margin-right: 20px;
}

.services-details .comments-area .comment-body {
  padding-right: 65px;
  padding-left: 0;
}

.services-details .comments-area .comment-author input {
  padding-right: 10px;
}

.services-details .comments-area .comment-author .avatar {
  right: -65px;
  left: auto;
}

.services-details .comment-respond .comment-form-cookies-consent {
  padding-right: 20px;
  padding-left: 0;
}

.services-details .comment-respond .comment-form-cookies-consent input {
  right: 0;
  left: auto;
}

.services-details .comment-respond input {
  padding-right: 15px !important;
}

.services-details .comment-respond textarea {
  padding-right: 15px;
}

.bor-right {
  border-left: 1px solid #e5e5e5;
  border-right: 0;
}

.about-area-two .about-progress .progress-contant h3 span {
  left: 0;
  right: auto;
}

.faq-accordion .accordion {
  padding-right: 0;
}

.search-overlay .search-overlay-form form button {
  left: 5px;
  right: auto;
}

.search-overlay .search-overlay-form form .input-search {
  padding: 15px;
}

.contact-form .form-group .form-control {
  padding: 10px 75px 10px 10px;
}

.contact-form .form-group i {
  right: 0;
  left: auto;
  border-top-right-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
}

.go-top {
  left: 15px;
  right: auto;
}

.sign-in-area .sign-in-form .form-group {
  text-align: right !important;
}

.form-check {
  padding-right: 1.5em;
  padding-left: 0;
}

.form-check .form-check-input {
  float: right;
}

.sign-up-area .sign-up-form .form-group {
  text-align: right !important;
}

@media only screen and (max-width: 767px) {
  .mean-container .mean-nav ul li a {
    float: right;
    text-align: right;
  }
  .mean-container .mean-nav ul li a.mean-expand {
    text-align: left;
    left: 0;
    right: auto;
  }
  .atorn-responsive-nav .mean-container a.meanmenu-reveal {
    left: 0 !important;
    right: auto !important;
  }
  .top-header .left-info li {
    margin-left: 0;
  }
  .top-header .right-info {
    text-align: center;
  }
  .choose-card {
    padding-right: 70px;
    padding-left: 0 !important;
  }
  .choose-area .choose-img .video-box .video-btn {
    margin-right: auto;
  }
  .choose-card i {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .faq-accordion .accordion .accordion-title i {
    left: 5px;
  }
  .case-details-tab-item .nav {
    padding-right: 0;
  }
  .attor-details-item .attor-details-left .attor-work .attor-work-right {
    margin-right: 55px;
  }
  .attor-details-item .attor-details-left .attor-work .attor-work-left ul li:before {
    left: -45px;
    width: 30px;
  }
  .services-details .article-footer .article-share .social {
    padding-right: 0;
    text-align: right;
    width: 250px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .top-header .right-info {
    text-align: left;
  }
  .top-header .right-info li {
    margin-right: 0;
  }
  .top-header .right-info li:last-child {
    margin-right: 5px;
  }
  .footer-area .footer-widget p {
    padding-left: 0;
  }
  .low-card-two h3 {
    font-size: 18px;
  }
  .case-details-item img {
    max-width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mean-container .mean-nav ul li a {
    float: right;
    text-align: right;
  }
  .mean-container .mean-nav ul li a.mean-expand {
    text-align: left;
    left: 0;
    right: auto;
  }
  .atorn-responsive-nav .mean-container a.meanmenu-reveal {
    left: 0 !important;
    right: auto !important;
  }
  .top-header .left-info li {
    margin-left: 0;
  }
  .top-header .right-info {
    text-align: left;
  }
  .top-header .right-info li {
    margin-right: 0;
  }
  .top-header .right-info li:last-child {
    margin-right: 5px;
  }
  .choose-area .choose-text {
    margin-left: auto;
    margin-right: auto;
  }
  .choose-area .choose-img .video-box .video-btn {
    margin-right: auto;
  }
  .faq-accordion .accordion .accordion-title {
    padding: 12px 24px 10px 20px;
  }
  .blog-card .blog-card-text ul li {
    margin-left: 10px;
  }
  .services-details .article-footer .article-share .social {
    text-align: center;
    padding-right: 0;
  }
  .services-details .article-footer .article-share .social li span {
    margin-left: 0;
  }
  .services-details .article-footer .article-share .social li a {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .atorn-nav .navbar .navbar-nav .nav-item {
    margin-left: 10px;
    margin-right: 10px;
  }
  .choose-area .choose-text {
    max-width: 450px;
  }
  .footer-area .footer-widget .footer-text li {
    padding-right: 18px;
  }
  .footer-area .footer-widget .info-list li {
    padding-right: 45px;
  }
  .low-card-two h3 {
    font-size: 20px;
  }
  .right-way .right-way-text {
    width: 450px;
  }
  .blog-card .blog-card-text {
    padding: 12px;
  }
  .blog-card .blog-card-text h3 {
    font-size: 18px;
  }
  .blog-card .blog-card-text ul li {
    margin-left: 10px;
  }
}
/*# sourceMappingURL=rtl.css.map */